{% extends 'polls/base.html' %}
{% block main_content %}

<table class="table table-hover">
    <thead>
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Address</th>
         <th>Telephone</th>
         <th>Email</th>
         <th>Fax</th>
         <th>Vat Number</th>
     </tr>
    </thead>
    <tbody>

      {% for item in company %}
      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.telephone }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.fax }}</td>
        <td>{{ item.vat_number }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

