{% extends 'polls/base.html' %}
{% block main_content %}

{% if latest_questions %}
    <ul>
        {% for question in latest_questions %}
        <li><a href = {% url "polls:detail" question.id %}><b>{{question.question_text}}</b></a></li>
        {% endfor %}
    </ul>

{% else %}
    <p> You don't have any questions. Please add some</p>
{% endif %}

<div class= "button-group">
     <a href={% url "polls:register_company" %} class="btn btn-primary btn-md" role="button"> Register a Company</a>
     <a href={% url "polls:display_company" %} class="btn btn-primary btn-md" role="button"> Display all Companies</a>

</div>
{% endblock %}

